@keyframes ldio-gj5g3zxams5 {
  0% {
    transform: translate(10px, 10px) scale(0);
  }

  25% {
    transform: translate(10px, 10px) scale(0);
  }

  50% {
    transform: translate(10px, 10px) scale(1);
  }

  75% {
    transform: translate(44px, 10px) scale(1);
  }

  100% {
    transform: translate(78px, 10px) scale(1);
  }
}

@keyframes ldio-gj5g3zxams5-r {
  0% {
    transform: translate(78px, 44px) scale(1);
  }

  100% {
    transform: translate(78px, 44px) scale(0);
  }
}

@keyframes ldio-gj5g3zxams5-c {
  0% {
    background: #ddddf7
  }

  25% {
    background: #a7bcff
  }

  50% {
    background: #8da4f1
  }

  75% {
    background: #2f2d52
  }

  100% {
    background: #ddddf7
  }
}

.ldio-gj5g3zxams5 div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(44px, 44px) scale(1);
  background: #ddddf7;
  animation: ldio-gj5g3zxams5 1.3513513513513513s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.ldio-gj5g3zxams5 div:nth-child(1) {
  background: #2f2d52;
  transform: translate(78px, 44px) scale(1);
  animation: ldio-gj5g3zxams5-r 0.33783783783783783s infinite cubic-bezier(0, 0.5, 0.5, 1), ldio-gj5g3zxams5-c 1.3513513513513513s infinite step-start;
}

.ldio-gj5g3zxams5 div:nth-child(2) {
  animation-delay: -0.33783783783783783s;
  background: #ddddf7;
}

.ldio-gj5g3zxams5 div:nth-child(3) {
  animation-delay: -0.6756756756756757s;
  background: #2f2d52;
}

.ldio-gj5g3zxams5 div:nth-child(4) {
  animation-delay: -1.0135135135135136s;
  background: #8da4f1;
}

.ldio-gj5g3zxams5 div:nth-child(5) {
  animation-delay: -1.3513513513513513s;
  background: #a7bcff;
}

.loadingio-spinner-ellipsis-21cnj5t2uc1 {
  margin: 0 auto;
  width: 91px;
  height: 21px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.ldio-gj5g3zxams5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.91);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-gj5g3zxams5 div {
  box-sizing: content-box;
}